.ipynb_checkpoints/
__pycache__/
*.gz
*.aux
*.log
*.out
.ipynb*
*.pyc
tags
.idea/*
*.swp
*.pth
.DS_Store
pytorch/data/

# yolos
yolo/imgs/hjfruit
yolov8n.pt

# modern-computer-vision-2ed
modern-computer-vision-2ed/Chapter05/P1_Facial_Keypoints/
