numpy
pandas
matplotlib
torch
torchvision
torchaudio
torchsummary
pycocotools
jupyterlab
opencv-python
ultralytics
duckdb
nnfs
tensorflow
tensorboard
tensorboardX
kaggle
tqdm
huggingface_hub
transformers
accelerate
sentencepiece
easyocr
mlflow
#vllm

# Modern Computer Vision for Pytorch 2ed
face-alignment
torch_snippets
selectivesearch

psycopg[binary,pool]
pgvector
sqlmodel

label-studio

zxing-cpp # barcode recognize
pyzbar # brew install zbar
albumentations

